* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial;
}

body{
  background-color: azure;
  min-height: 100vh;
  overflow-x:hidden;
}

header{
  position:fixed;
  top: 0;
  left: 0;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 100;
  background-color:rgb(212, 236, 175);
}

.logo{
  font-size: 2em;
  pointer-events: none;
}
.navigation a{
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 500;
  font-size: 20px;
}

.navigation a:hover {
  background:yellowgreen;
  color: white;
}

.menu-toggle{
  display: none;
}
.welcome{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2em;
}


@media (max-width:768px){
  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top:65px;
    left: 0;
    right: 0;
    background-color:rgb(182, 192, 168);
    padding: 10px;
    gap: 5px;
    align-items: center;
  }

  .navigation.active {
    display: flex; 
  }

  .menu-toggle {
    display:block;
    font-size: 35px;
    cursor: pointer;
  }

  .welcome{
    font-size: 1em;
  }
}




